body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(233, 201, 57);
    padding: 0.5em;
    padding-top: 0em;
    
}
td{
    padding: 2em;
}
.wall{
    z-index: 1;
}
td>div{
    border: 2px solid black;
    background-color: rgb(241, 227, 190);
    width: 400px;
    height: 400px;
}
#title{
    width: 50%;
}
.menubtn{
    background-color: lightgray;
    padding: 0.5em;
    border: 0.1em solid black;
    border-radius: 0.1em;
    font-size: inherit;
}
a:link, a:visited{
    text-decoration: none;
    color:black;

}
#tothefrontpage{
    float: right;
}

#enter{
    float: right;

}

.dropdown{
    display: inline-block;
    position: relative;
    height: 36px;
}
#dropdownmenu {
    display: none;
    position: absolute;
    width: max-content;
    border: 0.1em solid black;
    border-top: none;
}
#dropdownmenu a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.5em;
    border-bottom: 0.1em solid black;
}

.dropdown:hover #dropdownmenu{
    display: block;
    background-color: lightgray;
}

.dropdown:hover .menubtn{
    background-color: lightgoldenrodyellow;
}

#dropdownmenu a:hover{
    background-color: lightgoldenrodyellow;
}

#dropdownmenu:last-child{
    border-bottom: none;
}

#dropdownmenu a:visited{
    color: black;
}
#dropdownmenu a:active{
    background-color: gray;
}
.login{
    background-color: lightgray;
    padding: 0.5em;
    border: 0.1em solid black;
    border-radius: 0.1em;
    font-size: inherit;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
.login:hover{
    background-color: lightgoldenrodyellow;
}
.login:active{
    background-color: gray;
}
/* The popup form - hidden by default */
.form-popup {
   display: none;
   position: absolute;
   border: 3px solid  rgb(92, 61, 14);
   z-index: 12;
}

.form-popup2 {
    display: none;
    position: absolute;
    border: 3px solid  rgb(92, 61, 14);
    z-index: 12;
 }
/* Add styles to the form container */
.form-container {
   max-width: 300px;
   padding: 10px;
   background-color: white;
   border: 2px solid rgb(92, 61, 14);
   pointer-events: auto;
   z-index: 12;
}

.form-container2 {
    max-width: 500px;
    padding: 10px;
    background-color: white;
    border: 2px solid rgb(92, 61, 14);
    pointer-events: auto;
    z-index: 12;
 }

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
}

.form-container2 input[type=text] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
 }

 .form-container2 input[type=textarea] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
 }

 .form-container2 input[type=file] {
    margin: 5px 0 22px 0;
    border: none;
 }


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}

.form-container2 input[type=text]:focus, .form-container input[type=textarea]:focus {
    background-color: #ddd;
    outline: none;
 }

/* Set a style for the submit/login button */
.form-container .btn {
   background-color: #4CAF50;
   color: white;
   padding: 16px 20px;
   border: none;
   cursor: pointer;
   width: 100%;
   margin-bottom:10px;
   opacity: 0.8;
}
.form-container .cancel {
   background-color: red;
} 
.form-container .btn:hover, .open-button:hover {
   opacity: 1;
} 
#newad{
    background-color: lightgray;
    padding: 0.5em;
    border: 0.1em solid black;
    border-radius: 0.1em;
    font-size: inherit;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
#newad:hover{
    background-color: lightgoldenrodyellow;
}
#newad:active{
    background-color: gray;
}
#commenttextarea{
    resize: none;
}
#answerForm{
    display: flex;
    justify-content: center;
}
.submitbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
 }
 #textareainput {
     width: 90%;
     height: 10em;
 }
 a.newuser{
     color: blue;
     text-decoration: underline;
 }

.banner {
    height: 200px;
    background-image: url(../userimages/banskut.jpg);
    background-size: 110%;
}
