.info {
    position: relative;
    border-radius: 25px;
    padding: 20px;
    overflow: hidden;
    margin-top: 1.4em;
    height: 150px;
    border: brown solid 2px;
    background-color: rgb(233, 211, 115);
}

.teksti{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: firebrick;
    float: initial;
    padding-bottom: 10px;
    padding-left: 50em;

}

img.logo{
    width: 10em;
    height: 4em;
    float: right;
    padding-right: 3em;
}
