img{
width: 400px;
height: 300px;

}
a > p{
    margin: 0;
    padding: 0.5em;
    max-height: 2em;
    overflow: clip;

}
div>a{
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
#pagenav{
    height: 1em;
    display: grid;
    justify-content: center;
    padding-bottom: 2em;
}
#pagenav>ul{
    list-style-type: none;
}
#pagenav>ul>li{
float: left;
text-decoration: none;
margin: 0.2em;
font-size: 1.5em;
}
#crpage{
    color: brown;
    font-weight: bold;
}
a > strong{
    padding: 1em;
}