
#openad{
    height: 30em;
    margin-bottom: 1em;
}
#openadimg{
    height: 100%;
    width: 100%;
    border: brown solid 2px;
    
}
#imgcontainer{
    height: 100%;
    width: 30%;
    float: left;
}
#textcontainer{
    height: 100%;
    width: 70%;
    float: right;
}
#openadheadline{
    display: inline-block;
    width: 100%;
    height: 20%;
    background-color: rgb(233, 177, 57);
    font-size: x-large;
    border: brown solid 2px;
    border-bottom: none;
}

#openadtext{
    border: brown solid 2px;
    border-top: none;
    width: 100%;
    height: 80%;
    background-color: rgb(233, 211, 115); 

}
#answers{
margin-bottom: 1em;
}
.answer{
  margin-bottom: 0.5em;
  min-height: 5em;
}
.userinfo{
    background-color: rgb(233, 177, 57);
    border: solid 2px brown;
    border-bottom: 0px;
    font-weight: bold;
}
.useranswer{
 
    border: brown solid 2px;
    background-color: rgb(233, 211, 115);
    white-space: pre;
    min-height: 5em;
    padding: 0.5em;
    overflow: clip;
}
#wall{
    padding-right: 3em;
    padding-left: 3em;
}